.demo-table {
  margin: auto;
  width: 200px;
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__column {
    flex-grow: 1;
    padding: 40px 0px;

    &--dark {
      background-color: black;
    }
  }
}

.icon {
  width: 50px;
  height: 50px;
  margin: auto;

  &--cat {
    background: url("/assets/cat-icon.svg");
  }

  &--vader {
    background: url("/assets/vader-icon.svg");
  }
}

.canvas {
  border: 1px dashed black;
  width: 200px;
  height: 150px;
  cursor: crosshair;
}




